<% content_for :header do %>
	<h1><a href="/">Crappr</a></h1>
<% end %>

<ul class="tabs">
  <li class="active"><a href="#">Details</a></li>
  <li><a href="#">Map</a></li>
  <li><a href="#">StreetView</a></li>
</ul>

<div id="main-content">
	<h2>
		<%= @toilet.location.html_safe %>
	</h2>
	<p><strong>Opening Hours:</strong> <%= @toilet.open_hours.html_safe %></p>
	<p><strong>Gender:</strong> <%= @toilet.gender.html_safe %></p>
	<p><strong>Changing Room?:</strong> <%= (@toilet.change_rm) ? "Yes" : "No" %></p>
	<p><strong>Disabled?:</strong> <%= (@toilet.disabled) ? "Yes" : "No" %></p>

	<p><%= link_to 'Back to all', toilets_path %></p>
</div>