<% content_for :header do %>
	<h1><a href="/">Crappr</a></h1>
<% end %>

<% content_for :after_load do %>
$(".tabs li").click(function() { 
	$(".tabs li").removeClass('active');
	$(this).addClass('active');
	
	$("section#toilet div").not('.page-header').hide();
	
	var funct = $(this).children('a').attr('data-function');
	window[funct]();
	return false;
});

$('#show-form, #cancel').click(function(){
	$('#reviews_add_form').toggle();
	$('#reviews_add').toggle();
	return false;
});

jQuery.fn.submitWithAjax = function() {
  this.submit(function() {
    $.post(this.action, $(this).serialize(), function(data){
		$('#reviews_add_form').hide();
		if( $('#reviews_list ul.listview').length ){
			$("#reviews_list ul.listview").prepend(reviewListItem(data.review.name, data.review.created_at, data.review.text, data.review.value));
			$('#reviews_list ul li').removeClass('top bottom');
			$('#reviews_list ul li:first').addClass('top');
			$('#reviews_list ul li:last-child').addClass('bottom');
		}
		document.reviews_add_form.reset();
	}, "json");
    return false;
  })
  return this;
};

$(document).ready(function() {
  $("form.reviews_add_form").submitWithAjax();
})

<% end %>

<ul class="tabs">
  <li class="active"><a href="" data-function='loadDetails'>Info</a></li>
  <li><a href="" data-function='loadMap'>Map</a></li>
  <li><a href="" data-function='loadStreet'>StreetView</a></li>
  <li><a href="" data-function='loadReviews'>Review</a></li>
</ul>

<section id="toilet">
  <div class="page-header">
    <h2><%= @toilet.location.html_safe %></h2>
  </div>
  <div id="info">
  	<p><strong>Opening Hours:</strong> <%= @toilet.open_hours.html_safe %></p>
  	<p><strong>Gender:</strong> <%= @toilet.gender.html_safe %></p>
  	<p><strong>Changing Room?:</strong> <%= (@toilet.change_rm) ? "Yes" : "No" %></p>
  	<p><strong>Disabled?:</strong> <%= (@toilet.disabled) ? "Yes" : "No" %></p>
	<p class="left"><strong>Rating:</strong></p>
		<ul class="star-rating left">
		<% (1..5).each do |i| %>
			<li>
				<span class="<%="stars-#{i} #{ "current-rating" if i == @toilet.rating }" %>"></span>
			</li>
		<% end %>
	</ul>

	<p class="small rating-count">(<%= @toilet.reviews.count %> ratings)</p>
    <div class="clear"></div>
	<hr class='divider'/>
  	<p><%= link_to 'Open Map', "http://maps.google.com/maps?q=#{@toilet.lat},#{@toilet.lng}"  %></p>
	<hr class='divider'/>
  	<p><%= link_to 'Back to all', toilets_path %></p>
  </div>
  <div id="map_div" class="" style='display:none;'>Google Maps</div>
  <div id="pana" class="" style='display:none;'>Google StreetView</div>
  <div id="reviews" class="" style='display:none;'>
	<div id="reviews_add" class="" style='display:block;'>
		<%= link_to "ADD A REVIEW", toilets_url, :class => "button home-btn", :id => "show-form"%>
	</div>
	<div id="reviews_add_form" class="" style='display:none;'>

		<% form_tag reviews_api_toilet_path(@toilet) + ".json", :class => 'reviews_add_form', :name => 'reviews_add_form' do %>
		  <fieldset>
		  <legend>Write a Review:</legend>
		  <%= hidden_field_tag :toilet_id, @toilet.id %>
		  <div class="clearfix">
		    <%= label_tag :name %>
		    <div class="input"><%= text_field_tag :name %></div>
		  </div>
		  <div class="clearfix">
		    <%= label_tag :text, "Review" %>
		    <div class="input"><%= text_area_tag :text, '', :rows => 8 %></div>
		  </div>
		  <div class="clearfix">
		    <%= label_tag :value, "Rating" %>
		    <div class="input">
				<ul class="radio-rating">
					<% (1..5).each do |i| %>
						<li><%= "#{i}" %> <%= radio_button_tag :value, i %> |</li>
					<% end %>
				</ul>
			</div>
		  </div>

		  <div class="actions">
		    <button type="submit" class="btn primary" id='submit'>Add Review</button>
			<button type="submit" class="btn secondary" id='cancel'>Cancel</button>
		   </div>
		</fieldset>
		<% end %>
	</div>	
	<div id="reviews_list" class="">
	</div>
  </div>
</section>


<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>


function loadDetails(){
  $("#info").show();
  //Update the toilet stars rating :)
  $.getJSON('/api/toilets/<%= @toilet.id %>.json', function(data) {
	$('#toilet .star-rating').html(drawStars(data.toilet.rating));
	$('#toilet .rating-count').html("("+data.toilet.rating_count+" ratings)");
  });
}

function loadReviews(){
  $("#reviews").show();
  $("#reviews div").not('#reviews_add_form').show();
	
  $.getJSON('/api/toilets/<%= @toilet.id %>/reviews.json', function(data) {
  	items = [];

  	$.each(data, function(key, val) {
      items.push(reviewListItem(val.review.name, val.review.created_at, val.review.text, val.review.value));
  });
	$('#reviews_list').html(  
		$('<ul/>', {
	    	'class': 'listview',
	    	html: items.join('')
	  	})
	);

	$('#reviews_list ul li:first').addClass('top');
	$('#reviews_list ul li:last-child').addClass('bottom');

 });
}
function loadMap(){
  $("#map_div").show();
  set_map_height_to(250);
  var Latlng = new google.maps.LatLng(<%= @toilet.lat %>,<%= @toilet.lng %>);
  drawMap(Latlng, google.maps.MapTypeId.ROADMAP, 1);
  var marker = new google.maps.Marker({ position: Latlng, map: map, title: name,icon: '/assets/toilet.png' });
  markers.push(marker);
  map.setCenter(Latlng);
  map.setZoom(18);
}

function loadStreet(){
  $("#pana").show();
  set_map_height_to(250);
  var webService = new google.maps.StreetViewService();  
  var Latlng = new google.maps.LatLng(<%= @toilet.lat %>,<%= @toilet.lng %>);
  var checkaround = 50;
  webService.getPanoramaByLocation(Latlng,checkaround,checkNearestStreetView);
}

function checkNearestStreetView(panoData){ 
  var Latlng = new google.maps.LatLng(<%= @toilet.lat %>,<%= @toilet.lng %>);
  if(panoData){
       if(panoData.location){
          if(panoData.location.latLng){
             	var panoramaOptions = {
  			  position: panoData.location.latLng, 
  			  pov: {
  			    heading: bearing_from(panoData.location.latLng, Latlng),
  			    pitch: -2,
  			    zoom: 1
  			  }
  			};
  			
  			var panorama = new  google.maps.StreetViewPanorama(document.getElementById("pana"), panoramaOptions);
  			drawMap(Latlng, google.maps.MapTypeId.SATELLITE, 11);
  			map.setStreetView(panorama);
  			map.setCenter(Latlng);
  			map.setZoom(12);
          }
      }
  }
  else 
  {
	alert("Sorry, Google StreetView is unavailable for this Crappr.")
	drawMap(Latlng, google.maps.MapTypeId.SATELLITE, 1, "pana");
	var marker = new google.maps.Marker({ position: Latlng, map: map, title: name,icon: '/assets/toilet.png' });
	markers.push(marker);
	map.setCenter(Latlng);
	map.setZoom(18);
  }
}

</script>