<!DOCTYPE html>
<html>
  <head>
    <title><%= h(yield(:title) || "Crappr") %></title>
	<%= javascript_include_tag 'load-min' %>
	<%= stylesheet_link_tag 'bootstrap-1.1.1.min', 'mobile' %>
	<meta name="viewport" content="width=device-width, user-scalable=no" />
    <%= yield(:head) %>
  </head>
  <body>
	<script>
		window.addEventListener('load', function(){ 
			load('<%= javascript_path 'jquery.min' %>').then('<%= javascript_path 'mobile' %>').thenRun(function () {
			    setTimeout(scrollTo, 0, 0, 1);
				<%= yield(:after_load) %>
			});
		});
	</script>
	
	<div id="header"> 
		<%= yield :header %>
	</div>

	<div id="content">
		<%= yield %>
	</div>
	
	<div id="footer">
		<%= yield :footer %>
	</div>
  </body>
</html>