<!DOCTYPE html>
<html>
  <head>
    <title><%= h(yield(:title) || "Crappr") %></title>
	<%= stylesheet_link_tag 'mobile' %>
	<meta name="viewport" content="width=device-width, user-scalable=no" />
    <%= yield(:head) %>
  </head>
  <body onLoad="setTimeout(scrollTo, 0, 0, 1)" >
	<script>
		window.addEventListener('load', function(){ 
			var script = document.createElement('script');
			script.src = '<%= javascript_path 'jquery' %>';
			document.getElementsByTagName('head')[0].appendChild(script);
			
			var script = document.createElement('script');
			script.src = '<%= javascript_path 'mobile' %>';
			document.getElementsByTagName('head')[0].appendChild(script); 
			});
	</script>
	
	<div id="header"> 
		<%= yield :header %>
	</div>

	<div id="content">
		<%= yield %>
	</div>
	
	<div id="footer">
		<%= yield :footer %>
	</div>
  </body>
</html>