<!DOCTYPE html>
<html>
  <head>
    <title><%= h(yield(:title) || "Crappr") %></title>
	<%= javascript_include_tag 'mobile' %>
	<%= stylesheet_link_tag 'mobile' %>
	<meta name="viewport" content="width=device-width, user-scalable=no" />
    <%= yield(:head) %>
  </head>
  <body>
	<script>

		$(function() {
			<%= yield(:after_load) %>
		});

	</script>
	
	<div id="header"> 
		<%= yield :header %>
	</div>

	<div id="content">
		<%= yield %>
	</div>
	
	<div id="footer">
		<%= yield :footer %>
	</div>
  </body>
</html>