<!DOCTYPE html>
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
	<%= stylesheet_link_tag 'mobile' %>
    <%= javascript_include_tag 'jquery', "mobile" %>
	<meta name="viewport" content="width=320" />

    <%= yield(:head) %>
  </head>
  <body>
	<div id="header"> 
		<%= yield :header %>
		<h1><a href="/">Crappr</a></h1> 
		<h2>.. on a Smartphone!</h2>
	</div>

	<div id="content">
		<%= yield %>
	</div>
  </body>
</html>