<!DOCTYPE html>
<html>
  <head>
    <title><%= h(yield(:title) || "Crappr") %></title>
	<%= stylesheet_link_tag 'mobile' %>
    <%= javascript_include_tag 'jquery', "mobile" %>
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	
	<script>
		// When ready...
		window.addEventListener("load",function() {
			// Set a timeout...
			setTimeout(function(){
				// Hide the address bar!
				window.scrollTo(0, 1);
			}, 0);
		});
	</script>

    <%= yield(:head) %>
  </head>
  <body>
	<div id="header"> 
		<%= yield :header %>
		<h1><a href="/">Crappr</a></h1> 
		<h2>.. on a Smartphone!</h2>
	</div>

	<div id="content">
		<%= yield %>
	</div>
  </body>
</html>