<!DOCTYPE html>
<html>
<head>
  <title>Crappr</title>
  <%= stylesheet_link_tag 'bootstrap-1.1.1.min', 'crappr' %>
  <link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag 'markerclusterer_compiled', 'jquery.min', 'application'  %>

  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
	<div class="topbar">
	  <div class="fill">
	    <div class="container">
	      <h3><a href="/">Crappr</a></h3>
	      <ul>
	        <li class=""><%= link_to "About", about_path %></li>
			<li class=""><%= link_to "Suburbs", suburbs_path %></li>
	        <li class=""><%= link_to "Toilets", toilets_path %></li>
			<% if is_mobile?%>
				<li class=""><%= link_to "Back to Mobile Site", root_url(:mobile => 1), :rel => "external" %></li>
			<% end %>
	      </ul>
	    </div>
	  </div>
	</div>
	
	<div id="header">
		<%= yield :header %>
	</div>
	
	<div id="content" class="container"> 
		<%= yield %>
	</div>
	<div class="clear"></div>
	<div id="footer">
		<%= yield :footer %>
	</div>
</div>
</body>
</html>
